<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<string>1.0</string>
	<key>isLogin</key>
	<false/>
	<key>isAutoLogin</key>
	<true/>
	<key>isRememberPwd</key>
	<true/>
	<key>UN</key>
	<string></string>
	<key>UP</key>
	<string></string>
</dict>
</plist>
